@charset "UTF-8";

/*===================================


  Universal Styling


*=====================================*/
* {
    padding: 0;
    margin: 0;
    border: 0;
    font-family: 'Raleway', sans-serif;
}

.container {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 0;

}

header nav {
  display: none;
}

header img {
    width: 25%;
}


.hamburger{
  background:none;
  position:absolute;
  top:0;
  right:0;
  line-height:45px;
  padding:5px 15px 0px 15px;
  color:#999;
  border:0;
  font-size:1.4em;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}
.cross{
  background:none;
  position:absolute;
  top:0px;
  right:0;
  padding:7px 15px 0px 15px;
  color:#999;
  border:0;
  font-size:3em;
  line-height:65px;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}
.menu{z-index:1000000; font-weight:bold; font-size:0.8em; width:100%; background:#f1f1f1;  position:absolute; text-align:center; font-size:12px;}
.menu ul {margin: 0; padding: 0; list-style-type: none; list-style-image: none;}
.menu li {display: block;   padding:15px 0 15px 0; border-bottom:#dddddd 1px solid;}
.menu li:hover{display: block;    background:#ffffff; padding:15px 0 15px 0; border-bottom:#dddddd 1px solid;}
.menu ul li a { text-decoration:none;  margin: 0px; color:#666;}
.menu ul li a:hover {  color: #666; text-decoration:none;}
.menu a{text-decoration:none; color:#666;}
.menu a:hover{text-decoration:none; color:#666;}


body {
	  background:#EFD4D4;
}

footer {
    background: #EFD4D4;
    margin-top:90px;
	  margin-bottom: 30px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    color: #524F4F;
    font-size: 0.75em;
}


/*===================================


  Hero Section Styling


*=====================================*/
.top-hero {
    position: relative;
    min-height: 65vh;
    z-index: 1;
    background-color: #EFD4D4;
}

.top-hero img {
    margin-top: 5%;
    width: 100%;
}

.hero-content {
    position: absolute;
    top: 1%;
    left: 13%;
    color: #524F4F;
}


.hero-content h1 {
    font-family: 'Caveat Brush', cursive;
    font-size: 2.313em;
    padding-top: 239px;
}

/*===================================


  Fonts Styling


*=====================================*/

h1 {
  	font-family: 'Caveat Brush', cursive;
    font-size: 3.375em;
  	color: #524F4F;
	}

p {
	  color: #524F4F;
}

.hero-content p {
	  font-family: 'Raleway', sans-serif;
    font-size: 1em;
    padding-top: 13px;
}


/*===================================


  Button front page Styling


*=====================================*/

.book-class {
    font-family: 'Raleway', sans-serif;
    background-color: #42AEE3;
    color: white;
    text-decoration: none;
    border-radius: 3px;
    text-align: center;
    font-size: 0.75em;
    padding: 3%;
}

.book-class:hover {
    background-color: #F4A73D;
}



/*===================================


  Classes Page Styling


*=====================================*/

aside {
    padding: 6%;
    padding-top: 8%;
}

.youcandoit{
	  padding-top: 5px;
}

.pimmonster101 {
    padding: 3%;
    text-align: center;
    box-shadow: -7px -9px 5px #F38243;

}
.icebreaker {
	 padding: 3%;
	 text-align: center;
	 background-color: #EDEDED;
}

.imagination {
    padding: 3%;
    text-align: center;
    background-color: #EDEDED;
}

.monster-theraphy {
    padding: 3%;
    text-align: center;
    text-decoration: none;
    box-shadow: 8px 10px 8px #F38243;

}

.imagination a {
    background: #42AEE3;
    color: #FFFFFF;
    border-radius: 5px;
    text-decoration: none;
    padding: 1%;
}

.pimmonster101 a {
	 background: #42AEE3;
   color: #FFFFFF;
	 border-radius: 5px;
	 text-decoration: none;
   padding: 1%;
}

.icebreaker a {
   background: #42AEE3;
   color: #FFFFFF;
	 border-radius: 5px;
	 text-decoration: none;
   padding: 1%;
}

.icebreaker p {
	 padding-bottom: 15px;
}

.pimmonster101 p {
	 padding-bottom: 15px;
}

.imagination p {
	 padding-top: 11px;
	 padding-bottom: 15px;
}

.monster-theraphy p {
	 padding-bottom: 15px;
}

.monster-theraphy a {
    background: #42AEE3;
    color: #FFFFFF;
	  border-radius: 5px;
	  text-decoration: none;
    padding: 1%;
}

.monster-theraphy a:hover {
    background-color:#F4A73D;
}

.pimmonster101 a:hover {
    background-color:#F4A73D;
}

.icebreaker a:hover {
    background-color:#F4A73D;
}

.imagination a:hover {
    background-color:#F4A73D;
}

.imagination img {
	 margin-top: 34px;
   width: 100%;
}

.pimmonster101 img {
   width: 100%;
}

.icebreaker img {
   width: 100%;
}

.monster-theraphy  img {
  width: 100%;
}

.icebreaker {
	margin-top: 3px;
}


/*===================================


  Prices Page Styling


*=====================================*/


.list{
    border: 4px solid #F4A73D;
    /* box-shadow: 8px 10px 11px #F38243;
    -webkit-box-shadow: 8px 10px 11px #F38243; */
}

img.list {
    width: 100%;
}

img.kit {
    width: 100%;
}

.kit {
    border: 4px solid #F4A73D;
    /* box-shadow: 8px 10px 11px #F38243;
    -webkit-box-shadow: 8px 10px 11px #F38243; */
}

.ol-container {
	padding: 8%;
  padding-bottom: 1%;
}

.ul-container {
    padding: 8%;
    padding-top: 5%;
}

/*===================================


  Gallerery Page Styling


*=====================================*/
section.gallery img {
	width: 100%;
}

.monster-name{
    display: block;
    text-align: center;
    color: #524F4F;
    text-decoration: none;
}

.monster-name:hover {
	color: hsla(189,74%,51%,1.00);
}

.gallery a {
	display: inline-block;
	text-decoration: none;
}


/*===================================


  Figfure caption Styling


*=====================================*/

figcaption {
  color:hsla(353,7%,26%,1.00);
  font-style: italic;
  text-align: center;
  font-size: 0.75em;
  padding-right: 25%;
  padding-bottom: 11%;
}

figure img {
  width: 100%;
}


/*===================================


  About Page Styling


*=====================================*/
#content {
    padding: 0 3%;
}

iframe {
  border: none;
  display: block;
  margin: auto;
  margin-top: 2px;
}

small {
  padding-left: 1rem;
}

form {
  border: none;
}

/**** CONTAINERS *****/
/*********************/
#container {
  position: relative;
  margin: auto;
  margin-top: 0;
  width: 100%;
  max-width: 960px;
  max-height: 25000px;
  overflow: hidden;
}

#content {
  padding-top: 1px;
}

/******* INSIDE content *******/
/*****************************/
#content > li {
  font-size: 1.25em;
}

.content-slideshow {
  position: relative;
  margin: 0;
  top: 2px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 40rem;
  overflow: hidden;
}

/******* alignment classes******/
/*****************************/
.fluid {
  width: 100%;
  height: auto;
}

.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.aligncenterflex {
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.aligncenter {
  display: block;
  margin: auto;
  margin-top: 2px;
  padding: 0px;
}

/******* flexgrid ************/
/*****************************/
.flex-horizontal {
  display: flex;
  flex-direction: row;
}

.flex-vertical {
  display: flex;
  flex-direction: column;
  width: 100%;
}

/*===================================


  Media query Styling


*=====================================*/

@media (min-width: 501px) and (max-width: 979px) {

.top-hero img {
        max-width: 50%;
        padding-left: 48%;
  }

header img {
    width: 95px;
  }

.hero-content h1 {
  	 padding-top: 57%;
     font-size: 2.3em;
  }

.hero-content p {
    font-size: 1em;
    padding-top: 8px;
  }

}


@media (min-width: 357px) and (max-width: 500px) {

.top-hero img {
        max-width: 450px;
  }

header img {
    width: 95px;
  }

.hero-content h1 {
  	 padding-top: 177%;
     font-size: 2em;
  }

.hero-content p {
    font-size: 1em;
    padding-top: 8px;
  }

}

@media (max-width:980px) {
  section.gallery {
    padding: 3%;
}

.about-section {
  		padding: 3%;
   }

}

@media (min-width:980px){
.about-section {

  		padding: 0px 70px;
   }

.container {
   max-width: 960px;
  }

.about-copy {
		padding: 0 2%;
 }


.hamburger, .cross, .menu{
   display: none;
}

.hero-content h1 {
	 padding-top: 1%;
   font-size: 3.375em;
}

.hero-content p {
  font-size: 1.5em;
  padding-top: 41px;
}

figure img {
  width: 270px;
}

header {
   text-align: right;
   background-color: #EFD4D4;
   padding: 35px 0;
   width: 100%;
   z-index: 9999999;
   max-width: 1000px;
   margin: 0 auto;
}

header img {
  width: 100px;
}

header nav, header img {
  display: inline-block;
}

header nav {
  width: 88%;
  position: relative;
  top: -34px;
}

header a {
  font-weight: normal;
  color: #524F4F;
  margin: 0px 10px;
  font-size: large;
  text-decoration: none;
}

header a:hover {
  color: white;
  background: hsla(200,74%,57%,1.00);
  padding: 5px;
}

h2 {
  font-family: 'Caveat Brush', cursive;
  text-transform: none;
  font-size: 1.75em;
  color: #524F4F;
}

header nav ul li {
   display: inline;
}

.top-hero img {
      max-width: 600px;
      float: right;
      padding-right: 100px;
      margin-top: 1%;
}

.book-class {
      padding: 10px 20px;
      margin: 20px 5px;
      display: block;
      max-width: 130px;
}

.class-offer {
  	 width: 600px;
  	 float: right;
  }

aside {
  	width: 360px;
  	display: inline-block;
  }

.youcandoit{
  	clear: both;
}

.pimmonster101 {
      float: left;
      display: inline-block;
  }

.icebreaker {
  	float: left;
  	display: inline-block;
  }

.imagination {
      float: left;
      display: inline-block;
}

.monster-theraphy {
      float: left;
}

.imagination a {
      padding: 5px 7px 5px 7px;
}

.pimmonster101 a {
     padding: 5px 7px 5px 7px;
}

.icebreaker a {
    padding: 5px 7px 5px 7px;
}

.monster-theraphy a {
    padding: 5px 7px 5px 7px;
}

.monster-name{
    display: block;
}

.gallery a {
  	display: inline-block;
}

.list{
    float: right;
    width: 400px;
}

.class-list {
	  margin-left: 25px;
}

.middle {
    right: 143px;
}

.kit {
    float: right;
    width: 400px;
}

.bottom {
     position: absolute;
     right: 180px;
     width: 146px;
}

.text2 {
    padding: 12px 20px;
}

.imagination img {
    width: 260px;
}

.pimmonster101 img {
    width: 260px;
}

.icebreaker img {
   width: 260px;
}

.monster-theraphy  img {
   width: 260px;
}

.book-class {
    font-size: 1em;
    font-weight: bold;
}

aside {
	 padding: 0%;
}

img.list {
    width: 400px;
}

img.kit {
   width: 400px;
}

.middle {
  top: 366px;
  transform: translate(-50%, -50%);
}

footer {
  font-size: 1em;
}

.ol-container {
	 padding-bottom: 95px;
   padding-left: 1%;
}

.ul-container {
    padding-bottom: 87px;
    padding-top: 1%;
    padding-left: 1%;
}

section h1 {
  padding: 3%;
}

section p {
  padding: 0% 3%;
}

}

@media (min-width:584px){

  section.gallery img {
    width: 150px;
    padding: 15px 15px;
  }
    }
